esmtools==1.1.3
matplotlib==3.5.1
netCDF4==1.5.8
numpy==1.21.6
pandas==1.4.2
pylint==2.13.7
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
SkillMetrics==1.1.8
windrose==1.6.8
xarray==2022.3.0
yellowbrick==1.4
