affine==2.3.1
appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.11.1
blis==0.7.7
Bottleneck==1.3.4
Cartopy==0.20.2
certifi==2021.10.8
cftime==1.6.0
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
climate-indices==1.0.10
cloudpickle==2.0.0
cycler==0.11.0
dask==2022.4.1
esmtools==1.1.3
fastai==2.5.6
fastcore==1.4.1
fastdownload==0.0.5
fastprogress==1.0.2
Fiona==1.8.21
fonttools==4.33.3
fsspec==2022.3.0
geopandas==0.10.2
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
langcodes==3.3.0
llvmlite==0.38.0
locket==1.0.0
matplotlib==3.4.3
MetPy==1.3.0
munch==2.5.0
nco==1.0.0
netCDF4==1.5.8
numba==0.55.1
numpy==1.21.6
packaging==21.3
pandas==1.4.2
partd==1.2.0
pathy==0.6.1
patsy==0.5.2
Pillow==9.1.0
Pint==0.19.2
pooch==1.6.0
preshed==3.0.6
properscoring==0.1
proplot==0.9.4
protobuf==3.20.1
pyparsing==3.0.8
pyproj==3.3.1
pyshp==2.2.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rasterio==1.2.10
requests==2.27.1
salem==0.3.7
scikit-learn==1.0.1
scipy==1.8.0
seaborn==0.11.2
Shapely==1.8.1.post1
siphon==0.9
six==1.16.0
SkillMetrics==1.1.8
snuggs==1.4.7
soupsieve==2.3.2.post1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
statsmodels==0.13.2
thinc==8.0.15
threadpoolctl==3.1.0
toolz==0.11.2
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
traitlets==5.1.1
urllib3==1.26.9
windrose==1.6.8
xarray==2022.3.0
xhistogram==0.3.1
XlsxWriter==3.0.3
xskillscore==0.0.24
yellowbrick==1.4
